<% include newheader %>

<div class="container">
  <div class="ui form segment" style="width:700px;margin:40px auto">
    <form method="post">

      <div class="field required">
        <label>AKOA ID</label>
        <input placeholder="ooxx" type="text" name="id">
      </div>
      <input type="submit" class="ui button fluid" value="登陆">

    </form>
  </div>
</div>

<% include footer %>